<div>
  <div class="row" style="margin: 40px;">
    <div class="col-md-12 mb-3">
      <a href='/admin/tweets'>
        <button type="button" class="btn btn-primary">All Tweets</button>
      </a>
      <a href='/admin/users'>
        <button type="button" class="btn btn-primary">All Users</button>
      </a>
      <br />
    </div>

    <div class="col-md-12">
      {{#each tweets}}
      <div class="col-md-12  border rounded mb-5" style="background-color: #eeeeee;">
        {{!-- 使用者資訊 --}}
        <div class="row col-md-12 mb-3 mt-3  d-flex justify-content-between">
          <div class="row ml-4">
            <div class="mr-3" style="max-height: 70px;">
              <img style="max-height: 70px;" src="{{this.User.avatar}}" alt="avatar" class="rounded-circle">
            </div>
            <div style="max-height: 70px;">
              <a href="/users/{{this.User.id}}/tweets">
                <strong style="font-size: large;">{{this.User.name}}</strong>
              </a>
              <p class="card-text"><small class="text-muted">{{ fromNow this.createdAt }}</small></p>
            </div>
          </div>
          <div class="d-flex align-items-start">
            <a class="btn btn-primary mr-2" href="/tweets/{{this.id}}/replies">View</a>
            <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST">
              <div>
                <button class="btn btn-danger">刪除</button>
              </div>
            </form>
          </div>
        </div>

        {{!-- Tweet 內容 --}}
        <div class="col-md-12">
          <div class="col-md-12">
            <h4 style="overflow: hidden; text-overflow: ellipsis; white-space:nowrap">{{{this.description}}}</h4>
          </div>
          <div class="col-md-12">
            <hr>
            <i class="fas fa-thumbs-up"> {{this.LikedUsers.length}}</i>
            {{#if this.Replies}}
            <hr>{{/if}}
          </div>
        </div>

        {{!-- 留言內容 --}}
        {{#if this.Replies}}
        <div class="col-md-12">
          {{#each this.Replies}}
          <div class="col-md-12 mb-2">
            <div class="col-md-12 row">
              <div class="mr-2">
                <img class="rounded-circle" style="max-height: 30px;" src="{{this.User.avatar}}" alt="avatar">
              </div>
              <div class="col-md-10" style="background-color: #dfdfdf;  border-radius: 10px;">
                <strong>{{this.User.name}}</strong>
                <p>{{this.comment}}</p>
              </div>
              <div class="pl-1"></div>
            </div>
          </div>
          {{/each}}
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
</div>