{{!-- 人物欄位 --}}
<div class="col-md-4">
  <h1><strong>User Data</strong></h1>
  <img src="{{targetUserData.avatar}}" alt="avatar" style="width: 250px;margin-bottom: 25px;" />
  <div class="userDataProfile">
    <ul class="list-group" style="list-style-type:none">
      <li>
        <h3>{{targetUserData.name}}</h3>
      </li>
      <li>{{targetUserData.introduction}}</li>
      <li>
        <a href="/users/{{targetUserData.id}}/tweets">
          Tweet &nbsp
          <span class="badge badge-primary badge-pill">{{targetUserData.Tweets.length}}</span>
        </a>
      </li>
      <li>
        <a href="/users/{{targetUserData.id}}/followings">
          Followings &nbsp
          <span class="badge badge-primary badge-pill">{{targetUserData.Followings.length}}</span>
        </a>
      </li>
      <li>
        <a href="/users/{{targetUserData.id}}/followers">
          Followers &nbsp
          <span class="badge badge-primary badge-pill">{{targetUserData.Followers.length}}</span>
        </a>
      </li>
      <li>
        <a href="/users/{{targetUserData.id}}/likes">
          Like &nbsp
          <span class="badge badge-primary badge-pill">{{targetUserData.Likes.length}}</span>
        </a>
      </li>
    </ul>
    {{!-- 判斷是 (編輯頁面/封鎖列表) or (follow/封鎖) 按鈕 --}}
    {{#if isOwner}}
    <a href="/users/{{targetUserData.id}}/edit" class="btn btn-primary mt-5"> Edit Profile</a>
    <a href="/users/{{targetUserData.id}}/blockings?tab=blocking" class="btn btn-primary mt-5"> Blocking List</a>
    {{else}}

    {{#if targetUserData.isFollowing}}
    <form style="display: inline-block;" action="/followships/{{targetUserData.id}}?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">Unfollow</button>
    </form>
    {{else}}
    <form style="display: inline-block;" action="/followships" method="POST">
      <input type="hidden" name="id" value={{targetUserData.id}}>
      <button type="submit" class="btn btn-primary">Follow </button>
    </form>
    {{/if}}
    <form style="display: inline-block;" action="/blockships" method="POST">
      <input type="hidden" name="userId" value="{{targetUserData.id}}">
      <button type="submit" class="btn btn-danger">Block</button>
    </form>
    {{/if}}
  </div>
</div>