<div class="container py-5">
  <div class="row" style="justify-content: space-evenly">
    <div col="col-md-4">
      <img src="{{userData.avatar}}" alt="avatar" style="width: 250px;margin-bottom: 25px;" />
      <div class="userDataProfile">
        <ul class="list-group" style="list-style-type:none">
          <li>
            <h3>{{userData.name}}</h3>
          </li>
          <li>{{userData.introduction}}</li>
          <li>
            <a href="/users/{{userData.id}}/tweets">
              Tweet &nbsp
              <span class="badge badge-primary badge-pill">{{userData.TweetsNumber}}</span>
            </a>
          </li>
          <li>
            <a href="/users/{{userData.id}}/followings">
              Followings &nbsp
              <span class="badge badge-primary badge-pill">{{userData.FollowingsNumber}}</span>
            </a>
          </li>
          <li>
            <a href="/users/{{userData.id}}/followers">
              Followers &nbsp
              <span class="badge badge-primary badge-pill">{{userData.FollowersNumber}}</span>
            </a>
          </li>
          <li>
            <a href="/users/{{userData.id}}/likes">
              Like &nbsp
              <span class="badge badge-primary badge-pill">{{userData.LikesNumber}}</span>
            </a>
          </li>
        </ul>
        {{#if isOwner}}
        <a href="/users/{{userData.id}}/edit" class="btn btn-primary mt-5"> Edit Profile</a>
        {{else}}

        {{#if userData.isFollowed}}
        <form action="/followships/{{userData.id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Unfollow</button>
        </form>
        {{else}}
        <form action="/followships" method="POST">
          <input type="hidden" name="id" value={{userData.id}}>
          <button type="submit" class="btn btn-primary">Follow </button>
        </form>
        {{/if}}
        {{/if}}
      </div>
    </div>


    <div col="col-md-8">
      <h1>Following</h1>
      {{#each followings}}
      <div class="row">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{this.avatar}}" class="card-img" alt="avatar">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">
                  <a href="/users/{{ this.id }}/tweets">
                    @{{ this.name }}</a>
                </h5>
                <p class="card-text">{{this.introduction}}</p>

                <form action="/followships/{{this.id}}?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger">Unfollow</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>