<div class="row col-md-12 mt-5">
  <div class="col-md-1"></div>

  {{!-- 人物欄位 --}}
  {{>targetUser}}

  <div class="col-md-1"></div>

  {{!-- Followers 欄位 --}}
  <div class="col-md-6">
    <h1><strong>Follower List</strong></h1>
    {{#each followers}}
    <div class="col-md-12 mb-3 border bg-white">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{this.avatar}}" style="max-height: 150px;" class="rounded-circle" alt="avatar">
        </div>
        <div class="col-md-7">
          <div class="">
            <h5>
              <a href="/users/{{ this.id }}/tweets">{{ this.name }}</a>
            </h5>
            <p class="card-text">{{this.introduction}}</p>
            {{#if this.isFollowing}}
            <form style="display: inline-block;" action="/followships/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">Unfollow</button>
            </form>
            {{else}}
            <form style="display: inline-block;" action="/followships" method="POST">
              <input type="hidden" name="id" value={{this.id}}>
              <button type="submit" class="btn btn-primary">Follow </button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>