<div class="container py-5">
  <div class="row" style="justify-content: space-evenly">
    <div col="col-md-4">
      <img src="{{this.dataValues.User.avatar}}" alt="avatar" style="width: 250px;margin-bottom: 25px;" />
      <div class="userDataProfile">
        <ul class="list-group" style="list-style-type:none">
          <li>
            <h3>{{userData.name}}</h3>
          </li>
          <li>{{userData.introduction}}</li>
          <li>
            <a href="/users/{{this.dataValues.id}}/tweets">
              Tweet &nbsp
              <span class="badge badge-primary badge-pill">{{userData.Tweets.length}}</span>
            </a>
          </li>
          <li>
            <a href="/users/{{userData.id}}/followings">
              Followings &nbsp
              <span class="badge badge-primary badge-pill">{{userData.Followings.length}}</span>
            </a>
          </li>
          <li>
            <a href="/users/{{userData.id}}/followers">
              Followers &nbsp
              <span class="badge badge-primary badge-pill">{{userData.Followers.length}}</span>
            </a>
          </li>
          <li>
            <a href="/users/{{userData.id}}/likes">
              Like &nbsp
              <span class="badge badge-primary badge-pill">{{userData.Likes.length}}</span>
            </a>
          </li>
        </ul>
        {{#if isOwner}}
        <a href="/users/{{userData.id}}/edit" class="btn btn-primary mt-5"> Edit Profile</a>
        {{else}}

        {{#if userData.isFollowing}}
        <form action="/followships/{{userData.id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Unfollow</button>
        </form>
        {{else}}
        <form action="/followships/{{userData.id}}" method="POST">
          <button type="submit" class="btn btn-primary">Follow </button>
        </form>
        {{/if}}
        {{/if}}
      </div>
    </div>

    <div col="col-md-8">
      {{#each tweets}}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{this.dataValues.User.avatar}}" class="card-img" alt="avatar">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <a href="/users/{{ ../userData.id }}/tweets">{{ ../userData.name }}</a> <small
                  class="text-muted">{{this.updatedAt}}</small>
              </h5>
              <p class="card-text">{{this.description}}</p>
              <a href="/tweets/{{this.dataValues.id}}/replies" class="btn btn-primary">
                Reply({{this.Replies.length}})
              </a>
              {{#if this.isLiked }}
              <form action="/tweets/{{this.dataValues.id}}/unlike" method="POST" style="display: contents;">
                <button type="submit" class="btn btn-danger">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  unlike({{ this.likedCount}})
                </button>
              </form>
              {{else}}
              <form action="/tweets/{{this.dataValues.id}}/like" method="POST" style="display: contents;">
                <input type="hidden" name="userId" value="{{this.id}}" />
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  like({{ this.likedCount }})
                </button>
              </form>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>