<div class="container py-5">
  <div class="row" style="justify-content: space-evenly">
    <div col="col-md-4">
      <img src="{{dataValues.avatar}}" alt="avatar" style="width: 250px;margin-bottom: 25px;" />
      <div class="dataValuesProfile">
        <ul class="list-group" style="list-style-type:none">
          <li>
            <h3>{{dataValues.name}}</h3>
          </li>
          <li>{{dataValues.description}}</li>
          <li>
            <a href="/users/{{dataValues.id}}/tweets">
              Tweet &nbsp
              <span class="badge badge-primary badge-pill">{{dataValues.Tweets.length}}</span>
            </a>
          </li>
          <li>
            <a href="/users/{{dataValues.id}}/followings">
              Followings &nbsp
              <span class="badge badge-primary badge-pill">{{dataValues.Followings.length}}</span>
            </a>
          </li>
          <li>
            <a href="/users/{{dataValues.id}}/followers">
              Followers &nbsp
              <span class="badge badge-primary badge-pill">{{dataValues.Followers.length}}</span>
            </a>
          </li>
          <li>
            <a href="/users/{{dataValues.id}}/likes">
              Like &nbsp
              <span class="badge badge-primary badge-pill">{{dataValues.Likes.length}}</span>
            </a>
          </li>
        </ul>
        {{#if isOwn}}
        <button class="btn btn-primary mt-5"> Edit</button>
        {{else}}
        <button class="btn btn-primary mt-5"> Follow</button>
        {{/if}}
      </div>

    </div>
    {{#each tweets}}
    <div col="col-md-8">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{../dataValues.avatar}}" class="card-img" alt="avatar">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                @{{../dataValues.name}} <small class="text-muted">{{this.updatedAt}}</small>
              </h5>
              <p class="card-text">{{this.description}}</p>
              <a href="/users/{{../dataValues.id}}/replies" class="btn btn-primary mt-5">
                Reply({{../dataValues.Replies.length}})</a>
              <a href="/users/{{../dataValues.id}}/likes" class="btn btn-danger mt-5">
                Like({{../dataValues.Likes.length}})</a>

            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>