<div class="container py-5">
  <div class="row" style="justify-content: space-evenly">
    <div col="col-md-4">
      <img src="{{user.avatar}}" alt="avatar" style="width: 250px;margin-bottom: 25px;" />
      <div class="userProfile">
        <ul class="list-group" style="list-style-type:none">
          <li>
            <h3>{{user.name}}</h3>
          </li>
          <li>{{user.description}}</li>
          <li>Tweet<span class="badge badge-primary badge-pill">{{user.Tweet.length}}</span>
          </li>
          <li>Followings<span class="badge badge-primary badge-pill">{{user.Followings.length}}</span>
          </li>
          <li>Followers<span class="badge badge-primary badge-pill">{{user.Followers.length}}</span>
          </li>
          <li>Like<span class="badge badge-primary badge-pill">{{user.Like.length}}</span>
          </li>
        </ul>
        <button class="btn btn-primary"> Follow</button>
      </div>

    </div>
    {{#each tweets}}
    <div col="col-md-8">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{../user.avatar}}" class="card-img" alt="avatar">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                @{{../user.name}} <small class="text-muted">{{this.updatedAt}}</small>
              </h5>
              <p class="card-text">{{this.description}}</p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>