<div id="textarea" contenteditable="true" placeholder="what's on your mind?" style="position: relative;"></div>

<p id="tweetInput" style="position: absolute; top: 133px;"></p>


<div class="row justify-content-center my-3">
  <div class="col-md-6">
    <form action="/tweets" method="POST" onsubmit="return getTweetsContent()">
      <div class="input-group">
        <textarea id="tweets" name="tweets" class="form-control" aria-label="With textarea"
          placeholder="what's on your mind?" rows="3" oninput="tweetsLeft()" style="display: none;"></textarea>
      </div>
      <div class="text-muted">
        <small id="tweetsText">characters left:</small>
        <span id="tweetsNumber">140</span>
      </div>
      <button id="tweetBtn" class="btn btn-primary float-right" type="submit">Tweet</button>
    </form>
    <br>
    <br>
    {{#each tweets}}
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{this.User.dataValues.avatar}}" class="card-img" alt="user avatar">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/users/{{ this.User.dataValues.id }}/tweets">{{ this.User.dataValues.name }}</a>
            </h5>
            <p class="card-text">{{{ this.description }}}</p>
            <p class="card-text"><small class="text-muted">{{ fromNow this.createdAt }}</small></p>
          </div>
          <div class="card-body text-right inline-block mt-1">
            <a href="/tweets/{{this.id}}/replies" class="btn btn-primary mr-2">Reply({{ this.replyCount }})</a>
            {{#if this.isLiked }}
            <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-danger">
                <i class="fa fa-heart" aria-hidden="true"></i>
                unlike({{ this.likedCount }})
              </button>
            </form>
            {{else}}
            <form action="/tweets/{{this.id}}/like" method="POST" style="display: contents;">
              <input type="hidden" name="userId" value="{{this.id}}" />
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-heart" aria-hidden="true"></i>
                like({{ this.likedCount }})
              </button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="col-md-4">
    <p class="h1">Popular Users</p>
    <br>
    {{#each users}}
    <div class="card mb-3" style="max-width: 400px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{this.avatar}}" class="card-img" alt="user avatar">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <a href="/users/{{this.id}}/tweets">{{ this.name }}</a>
            </h5>
            <p class="card-text">{{ this.introduction}}</p>
            {{#ifNotCond this.id ../user.id}}
            {{#if this.isFollowed }}
            <form class="text-right" action="/followships/{{this.id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger" name="id" value={{this.id}}>
                Unfollow <i class="fa fa-user" aria-hidden="true"></i>
              </button>
            </form>
            {{else}}
            <form class="text-right" action="/followships/{{this.id}}" method="POST">
              <button type="submit" class="btn btn-info" name="id" value={{this.id}}>
                Follow <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button>
            </form>
            {{/if}}
            {{/ifNotCond}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>


<script type="text/javascript">
  function sleep(second) {
    return new Promise(wake => setTimeout(wake, second * 1000))
  }

  let lastInputTime
  let ifInputChangeBySelected = false
  const timeOut = 0.5 // second
  async function handleInputDebounce(e) {
    const target = e.target.innerHTML

    const current = Date.now()
    lastInputTime = current
    await sleep(timeOut)

    if (lastInputTime != current) { console.log('debounce') }
    else if (ifInputChangeBySelected === true) {
      ifInputChangeBySelected = false
      console.log('debounce')
    }
    else {
      markFriend(target)
    }

  }

  const socket = io()
  const textarea = document.getElementById('textarea')
  const tweetInput = document.getElementById('tweetInput')
  textarea.addEventListener('input', handleInputDebounce)

  async function markFriend(target) {
    try {
      let regExp = /^(.*\s+@\w+|@\w+)/

      let keyword = ''
      function getIndices(target) {
        let indices = []
        let idx = target.indexOf('@');
        while (idx != -1) {
          indices.push(idx);
          idx = target.indexOf('@', idx + 1);
        }
        return indices
      }

      if (regExp.test(target)) {
        //當資料變多可以用keyword進資料庫先篩選
        const indices = await getIndices(target)
        if (indices.length > 1) {
          keyword = target.slice(indices[indices.length - 1] + 1, indices[indices.length - 1] + 2)
        } else {
          keyword = target.slice(target.indexOf('@') + 1, target.length + 1)
        }

        console.log('keyword', keyword)
        //emit
        socket.emit('test', keyword)
        socket.on('tag', function (users) {
          tweetInput.innerHTML = ''
          const { searchedUsers } = users
          let selectTemp = ``
          selectTemp += `<select id="mySelect" onchange="tagFriend()"><option selected>Tag your friend</option>`

          if (searchedUsers.length === 0) {
            selectTemp += `<option value="">查無用戶</option>`
          }
          for (const user of searchedUsers) {
            selectTemp += `<option value="${user.name}" data-id="${user.id}" data-thumbnail="${user.avatar}">${user.name}</option>`
          }

          selectTemp += `</select>`
          let textareaTemp = textarea.innerHTML.slice(0, indices[indices.length - 1] + 1) + selectTemp

          tweetInput.innerHTML = textareaTemp

          textarea.contentEditable = false

        })


      }
    } catch (error) {
      console.log('error', error)
    }

  }



  function getTweetsContent() {
    document.getElementById('tweets').value = document.getElementById('textarea').innerHTML
  }

  function tagFriend() {

    ifInputChangeBySelected = true
    const mySelect = document.getElementById("mySelect");
    const options = document.querySelectorAll('option')

    let template = ``
    for (const option of options) {
      if (option.value === mySelect.value) {
        template = `<a href="/users/${option.dataset.id}/tweets">@${option.value}</a>`
      }
    }

    //取得@之前字串
    const textareaTemp = textarea.innerHTML

    let indices = []
    let idx = textareaTemp.indexOf('@');
    while (idx != -1) {
      indices.push(idx);
      idx = textareaTemp.indexOf('@', idx + 1);
    }
    const resultTemp = textareaTemp.slice(0, indices[indices.length - 1])
    //合併輸出
    tweetInput.innerHTML = resultTemp + template
    textarea.innerHTML = tweetInput.innerHTML
    textarea.contentEditable = "true";

  }

  function tweetsLeft() {
    const tweets = document.getElementById('tweets').value
    let tweetsCount = 140 - tweets.length
    const tweetsRemain = document.getElementById('tweetsNumber')
    const tweetsTitle = document.getElementById('tweetsText')
    const tweetsButton = document.getElementById('tweetBtn')

    if (tweetsCount <= 0) {
      tweetsRemain.className = "text-danger"
      tweetsRemain.textContent = 'Tweets exceed 140'
      tweetsButton.disabled = true
      tweetsTitle.style.display = 'none'
    } else {
      tweetsRemain.className = "text-muted"
      tweetsRemain.textContent = tweetsCount
      tweetsButton.disabled = false
      tweetsTitle.style.display = 'inline'
    }
  }

</script>