<div class='row'>
  <div class='col-md-4 pr-5 display-flex justify-content-center'>
    <img class='rounded' src="{{targetUser.avatar}}" alt="{{targetUser.name}}" width='200px' height='200px' />
    <h2 class='mb-4'>
      <strong>{{targetUser.name}}</strong>
    </h2>
    <p class='text-dark mb-3 ml-1'>{{targetUser.introduction}}</p>
    <div class='mb-4 ml-2'>
      <ul class='list-group'>
        <li class='list-group-item'>
          <h5>
            <a href="/users/{{targetUser.id}}/tweets" style="text-decoration:none;">
              <strong class='text-dark'>Tweets</strong>
              <span class='text-light badge badge-dark'>
                {{#if targetUser.Tweets}}
                {{targetUser.tweetsCount}}
                {{else}}
                <span>0</span>
                {{/if}}
              </span>
            </a>
          </h5>
        </li>
        <li class='list-group-item'>
          <h5>
            <a href="/users/{{targetUser.id}}/followings" style="text-decoration:none;">
              <strong class='text-dark'>Followings</strong>
              <span class='text-light badge badge-dark'>
                {{#if targetUser.Followings}}
                {{targetUser.followingCount}}
                {{else}}
                <span>0</span>
                {{/if}}
              </span>
            </a>
          </h5>
        </li>
        <li class='list-group-item'>
          <h5>
            <a href="/users/{{targetUser.id}}/followers" style="text-decoration:none;">
              <strong class='text-dark'>Followers</strong>
              <span class='text-light badge badge-dark'>
                {{#if targetUser.Followers}}
                {{targetUser.followerCount}}
                {{else}}
                <span>0</span>
                {{/if}}
              </span>
            </a>
          </h5>
        </li>
        <li class='list-group-item'>
          <h5 class='text-muted'>
            <a href="/users/{{targetUser.id}}/likes" style="text-decoration:none;">
              <strong class='text-dark'>Likes</strong>
              <span class='text-light badge badge-dark'>
                {{#if targetUser.LikedTweets}}
                {{targetUser.likedTweetsCount}}
                {{else}}
                <span>0</span>
                {{/if}}
              </span>
            </a>
          </h5>
        </li>
      </ul>
    </div>
    <div class='text-right'>
      {{#ifNotCond currentUserId targetUser.id}}
        {{#if targetUser.isFollowed}}
        <form action="/followships/{{targetUser.id}}?_method=DELETE" method='POST'>
          <button type='submit' class='btn btn-danger'>
            Unfollow <i class='fa fa-user px-2' aria-hidden='true'></i>
          </button>
        </form>
        {{else}}
        <form action='/followships/{{targetUser.id}}' method='POST'>
          <input type='hidden' name='id' value="{{targetUser.id}}" />
          <button type='submit' class='btn btn-info'>
            Follow <i class='fa fa-user-plus px-2' aria-hidden='true'></i>
          </button>
        </form>
        {{/if}}
      {{/ifNotCond}}

      <a class="btn btn-primary" href="/tweets/{{tweet.id}}/replies" role="button" onclick="window.open('http://localhost:3000/chat/{{targetUser.id}}', 'Chatroom', config='height=592, width=500')">
        Chat With {{targetUser.name}}
      </a>
    </div>
  </div>
  <div class='col-md-8'>
    <h2 class="text-info mb-3">
      <strong>Tweets</strong>
    </h2>
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class='col-4'>
            <img src="{{targetUser.avatar}}" class='rounded ml-3 w-100 h-auto' />
          </div>
          <div class='col-8 justify-content-around'>
            <h5 class='card-title'>
              <a href="/users/{{targetUser.id}}/tweets" style="text-decoration: none;">@{{targetUser.name}}</a>
            </h5>
            <p class="card-text">{{targetUser.introduction}}</p>
            <p class="card-text"><small class="text-muted">{{fromNow this.createdAt}}</small></p>
            <div class='text-right inline-block mt-1'>
              <a href="/tweets/{{tweet.id}}/replies" class='btn btn-primary mr-2'>Reply ({{tweet.replies.length}})</a>
              {{#if tweet.isLiked}}
              <form action="/tweets/{{tweet.id}}/unlike" method='POST' style='display: contents;'>
                <button type='submit' class='btn btn-danger'>
                  <i class='fa fa-heart' aria-hidden='true'></i>
                  Unlike ({{tweet.likesCount}})
                </button>
              </form>
              {{else}}
              <form action="/tweets/{{tweet.id}}/like" method='POST' style='display: contents;'>
                <input type='hidden' name='userId' value="{{this.id}}" />
                <button type='submit' class='btn btn-primary'>
                  <i class='fa fa-heart' aria-hidden='true'></i>
                  Like ({{tweet.likesCount}})
                </button>
              </form>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='pt-4'>
      <h2 class="text-info mb-3">
        <strong>Replies</strong>
      </h2>
      {{#each tweet.replies}}
      <div class='card mb-3'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-4'>
              <img src="{{this.User.avatar}}" class='rounded ml-3 w-100 h-auto' />
            </div>
            <div class='col-8'>
              <h5 class='card-title'>
                <a href="/users/{{this.User.id}}/tweets" style="text-decoration: none;">@{{this.User.name}}</a>
              </h5>
              <p class="card-text">{{this.comment}}</p>
              <p class="card-text"><small>{{fromNow this.createdAt}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <form action="/tweets/{{tweet.id}}/replies" method='POST'>
      <div class='form-group'>
        <textarea class='form-control' id='comment' name='comment' rows='3'></textarea>
      </div>
      <button type='submit' class='btn btn-primary float-right'>Reply</button>
    </form>
  </div>
</div>